 <!-- Responsive navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Blogs by Luz Tappero</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" href="{% url 'Home' %}">HOME</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'about_me' %}">ABOUT</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'blog_list' %}">BLOGS</a></li>
                

                {% if user.is_authenticated %}

                    <!-- <span class="navbar-text"> {{user.username}}</span> -->
                    <li class="nav-item"><a class="nav-link active" href="{% url 'mis_blog_list' id=user.id %}">MIS BLOGS</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'blog_create' %}">CREAR BLOGS</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'profile' id=user.id %}">MI PERFIL</a></li>
                    <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'crear_avatar' %}">CREAR AVATAR</a></li> -->
                    <img src="{{avatar_url}}" style="height: 40px; width: auto; border-radius: 50% ; vertical-align: middle;"/>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">LOGOUT</a></li>

                {% else %}
                    <li class="nav-item"><a class="nav-link active" href="{% url 'login' %}">LOGIN</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'registro' %}">SIGNIN</a></li>
                {% endif %}
                 
            </ul>
        </div>
    </div>
</nav>