{% extends 'Blog/blog.html' %}

{% block contenidoQueCambia %}

<div class="profile-container">
    <div class="profile-header">
        <h3>MI PERFIL</h3>
    </div>
    <div class="profile-content">
        <div class="profile-image-container">
            <img src="{{ avatar_url }}" alt="Avatar" class="profile-image" />
        </div>
        <div class="profile-info">
            <p class="profile-username">Mi perfil: {{ profile.usuario }}</p>
            <p class="profile-about">Info sobre mí: {{ profile.about_me }}</p>
        </div>
    </div>
    <div class="buttons-container">
        <a href="{% url 'profile_update' %}" class="edit-profile-button">Editar Perfil y Password</a>
    </div>
</div>

<style>
    .profile-container {
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-header h3 {
        color: #333;
    }

    .profile-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .profile-image-container {
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-right: 20px;
    }

    .profile-image {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    .profile-info {
        text-align: left;
        max-width: 200px;
    }

    .profile-username,
    .profile-about {
        margin-bottom: 10px;
        font-size: 14px;
        color: #555;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }

    .edit-profile-button {
        background-color: #4a90e2;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
    }

    .edit-profile-button:hover {
        background-color: #357bd8;
    }
</style>

{% endblock %}
